AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-north-1
AWS_DEFAULT_REGION=eu-north-1
LOCALSTACK_ENDPOINT=http://localhost:4566
LOCALSTACK_ENDPOINT_DOCKER=http://localstack:4566

S3_BUCKET_NAME=helsinki-city-bikes
RAW_PREFIX=raw/trips
METRICS_PREFIX=processed/station-metrics

SNS_TOPIC_NAME=helsinki-bike-file-topic
SQS_QUEUE_NAME=helsinki-bike-file-queue

LAMBDA_FUNCTION_NAME=helsinki_dynamodb_ingestor
LAMBDA_ROLE_ARN=arn:aws:iam::000000000000:role/lambda-role

DYNAMODB_RAW_TABLE=bike_trips_raw
DYNAMODB_PERIOD_METRICS_TABLE=bike_period_metrics
DYNAMODB_FILE_STATE_TABLE=bike_file_state

AIRFLOW_UID=50000
